* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
a {
  color: #354F52;
}
.nav{
  height: 51px;
  padding-left: 0px;
  margin-bottom: 0px;
  width: 100vw;
  margin-left: 0px;
}

.container-fluid {
  padding-left: 0px;
  padding-bottom: 0px;
}

@media (max-width: 30%) /* @grid-float-breakpoint -1 */ {
.navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }

.project {
  max-width: 10%;
  display: block;
}
}

/* These icons refers to the Twitter, Github, and Gmail icons*/

#icon1 {
  width: 20px;
  height: 20px;
}

#icon2 {
  width: 20px;
  height: 20px;
}
#icon3 {
  width: 20px;
  height: 20px;
}

/*The following two backgrounds refer to a background image and an opaque div placed atop it*/

#background {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}

#background::after {
  content: "";
  background: url('background.jpg');
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#headshot {
  background: url('headshot.jpg');
  background-size: contain;
  max-width: 30%;
  max-height: 40%;
  display: inline-block;
  margin-top: -10%;
  margin-left: 40%;
  border-radius: 50%;
  border: solid 2px #52796F;
}

.clickbelow {
  text-align: center;
  font-size: 150%;
}



#header {
  display: inline-block;
  background-color: rgba(192, 192, 192, .8 );
  margin: 0 auto;
  margin-top: 20%;
  margin-left: 10%;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  border-radius: 5px;
  z-index: 1

}

#header:hover {
    background-color: #84A98C;
  }

  #header:hover .multitudes {
    color: white;
  }

#middle {
  background-color: #52796F;
  max-width: 100vw;
  max-height: 100vh;
  color: white;
  padding-top: 0px;
  margin-top: 0px;
}

.project {
  background-color: rgba(192, 192, 192, .8 );
  margin: 2em 2em;
  max-width: 45%;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  border-right: 10px solid #2F3E46;
  border-left: 10px solid #2F3E46;

}



/* Bracket refers to the text pointing users to the headshot-resume link*/
/*#bracket {
  background-color: rgba(192, 192, 192, .8 );
  margin-left: 6em;
  max-width: 20em;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  border-radius: 15px;
  border-right: 10px solid #2F3E46;
  border-left: 10px solid #2F3E46;
}*/

#bottom {
  background-color: #354F52;
  max-width: 100vw;
  max-height: 100vh;
  color: white;
  margin-top: 0px;
  padding-top: 0px;
}

#aboutMeClick {
  background-color: rgba(192, 192, 192, .8 );
  margin-left: 5em;
  max-width: 15em;
  padding: 10px 10px 10px 10px;
  display: block;
  border-radius: 15px;
  border-right: 10px solid #2F3E46;
  border-left: 10px solid #2F3E46;
  font-weight: bold;
}

#codingClick {
  background-color: rgba(192, 192, 192, .8 );
  margin-left: 5em;
  margin-top: 2em;
  max-width: 15em;
  padding: 10px 10px 10px 10px;
  display: block;
  border-radius: 15px;
  border-right: 10px solid #2F3E46;
  border-left: 10px solid #2F3E46;
  font-weight: bold;
}

.aboutMe {
  background-color: rgba(192, 192, 192, .6 );
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 35%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: all .2s ease;
}

.codingBackground {
    max-width: 35%;
    display: inline-block;
    margin-top: -15em;
    margin-bottom: 2em;
    background-color: rgba(192, 192, 192, .6 );
    border-radius: 15px;
    padding: 10px;
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -o-transform: translateX(200%);
    transition: all .2s ease;

}

footer {
  color: white;
  background-color: #2F3E46;
  max-height: 2em;
  /*position: absolute;*/
  /*bottom: 0;*/
  /*display: inline-block;*/
  text-align: center;
}

.slide-left {
  transform: translateX(20%);
}

.slide-right {
  transform: translateX(50%);
}

h6 {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;

}

/* Title refers to the Resume and Portfolio headings*/
.title {
  padding: 1em 1em;
  margin-top: 0px;
}

.nav {
  background-color: rgba(192, 192, 192, .6);
  background-size: cover;
}

.nav:hover {
  background-color: #84A98C;
}

#aboutMeClick:hover {
  background-color: #84A98C;
}

#codingClick:hover {
  background-color: #84A98C;
}
