* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
a {
  color: #354F52;
}

.navbar-default {
  background: rgba(192, 192, 192, 0.7 );

}


.navbar-default .navbar-nav>li>a {
  color: #2F3E46;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover{
  background: rgba(82,121,111, 0.6);
}

.navbar-default .navbar-brand {
  color: #2F3E46;
  font-weight: bold;
  padding: 1em;
}

.container-fluid {
  padding-left: 0px;
  padding-bottom: 0px;
}


/* These icons refers to the Twitter, Github, and Gmail icons*/
.icon {
  width: 20px;
  height: 20px;
}

/*The following two backgrounds refer to a background image and an opaque div placed atop it*/

.background {
  display: block;
  position: relative;
}

.background::after {
  content: "";
  background: url('Images/background.jpg');
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-attachment: fixed;
}

.background_2 {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}

.background_2::after {
  content: "";
  background: url('Images/background2.jpg');
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-attachment: fixed;
}


#headshot {
width: 60%;
border-radius: 10px;
display: block;
margin: 15% auto;
margin-top: 0;
-webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

@media (max-width: 600px) {
  #headshot {
    margin: 15% auto;
  }
}

.clickbelow {
  text-align: center;
  font-size: 150%;
}



.header {
  display: block;
  background-color: rgba(192, 192, 192, .8 );
  margin: 20% auto;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  border-radius: 5px;
  z-index: 1;

}

.header2{
  margin-top: 3%;
  background-color: rgba(192, 192, 192, .8 );
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  border-radius: 5px;
  z-index: 1;
}

.header:hover {
    background-color: #84A98C;
  }

  .header:hover .multitudes {
    color: white;
  }
.header2:hover {
  background-color: #84A98C;

}

#middle {
  background-color: #354F52;
  color: white;
  padding-top: 0px;
  margin-top: 0px;
}


.project {
  background-color: rgba(192, 192, 192, .3 );
  margin: 15% auto;
  margin-top: 0;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
}


#bottom {
  background-color: #2F3E46;
  color: white;
  margin-top: 0px;
  padding-top: 0px;
}


.aboutMe {
    background-color: rgba(192, 192, 192, 0.3);
    border-radius: 15px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;

}

#codingBackground {
  margin-top: 2em;
  margin-left: 50px;
  margin-right: 50px;
}

footer {
  color: white;
  background-color: #354F52;
  max-height: 2em;
  /*position: absolute;*/
  /*bottom: 0;*/
  /*display: inline-block;*/
  text-align: center;
}

h6 {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;

}

/* Title refers to the Resume and Portfolio headings*/
.title {
  padding: 1em 1em;
  margin-top: 0px;
}

.nav .navbar-nav {
  background-color: rgba(192, 192, 192, 0.8);
}


/*Portfolio modals*/

#shakespeareGame {
  background: url("Images/shakespearegame.png");
  background-size: cover;
  width: 20em;
  height: 8em;
  display: block;
  margin: 0 auto;
  border-radius: 14px;
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

#topDeck {
  background: url("Images/topDeck.png");
  background-size: cover;
  width: 20em;
  height: 8em;
  display: block;
  margin: 0 auto;
  border-radius: 14px;
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

#epic {
  background: url("Images/Epic.png");
  background-size: cover;
  width: 20em;
  height: 8em;
  display: block;
  margin: 0 auto;
  border-radius: 14px;
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

#weather{
  background: url("Images/Weather.png");
  background-size: cover;
  width: 20em;
  height: 8em;
  display: block;
  margin: 0 auto;
  border-radius: 14px;
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

#veteran {
  background: url("Images/veteran.png");
  background-size: cover;
  width: 20em;
  height: 8em;
  display: block;
  margin: 0 auto;
  border-radius: 14px;
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(192, 192, 192);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content p {
  color: black;
}

/* The Close Button */
.close {
    color: red;
    /*float: right;*/
    font-size: 28px;
    font-weight: bold;
    margin-top: -20%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#shakespeareGame:hover{
  box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

#topDeck:hover{
  box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

#epic:hover{
  box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

#weather:hover{
  box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

#veteran:hover {
  box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
.snapshot {
  height: 30%;
  width: 30%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.clickbelow {
  font-weight: bold;
  text-align: center;
}

#headshotContainer {
  background-color: rgba(192, 192, 192, .3 );
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1em;
}

#headshot:hover {
  box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

h3 {
  margin-top: 0;
}


.description {
  font-size: 2em;
  text-align: center;
  padding: 10px;
  margin-top: 10%;
}

.descripSub {
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
}

.descripSub2 {
  text-align: center;
  padding: 10px;
}

.linkedIn {
  margin-top: 10%;
}
.linkedIn:hover {
  background-color: rgba(192, 192, 192, .3 );
  border-radius: 10px;
}

.javascript {
  width: 10%;
}

.descrip {
  margin-top: 10%
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.descrip:hover {
  box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1..25);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.25);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.25);
    transition: all 200ms ease-in;
    transform: scale(1.25);
}

.logo {
  width: 100%;
}

.programmingSkills {
  text-align: center;
}

.technologies {
  margin-top: 5%;
}

.descripContain {
  margin-left: 5%;
  margin-top: 2%;
}

.workingOn p {
  font-size: 1.5em;
}

.workingOn {
  margin-bottom: 5%;
}

.workingOnHeader {
  font-style: bold;
  text-decoration: underline;
}

.listofskills {
  margin-bottom: 3%;
  background-color: rgba(192, 192, 192, .3 );
  padding: 10px;
}

.myskills li {
  list-style-type: square;
}
